# LACK OF AFFORDABLE HOUSING 1

In [ ]:
CREATE EXTERNAL TABLE affordable_housing (
  Year INT,
  Town STRING,
  Census_Units INT,
  Government_Assisted INT,
  Tenant_Rental_Assistance INT,
  Deed_Restricted_Units INT,
  Total_Assisted_Units INT,
  Percent_Affordable FLOAT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION '/user/thanmmay_durga/data/Lack-of-Affordable-housing-1/' ;

Which towns in the dataset 1 have highest percentage of affordable housing units (Percent Affordable)

In [ ]:
SELECT 
  Town,
  MAX(Percent_Affordable) AS Max_Percent_Affordable
FROM 
  affordable_housing
GROUP BY 
  Town
ORDER BY 
  Max_Percent_Affordable DESC
LIMIT 10;

Out of all town in the dataset 1 which town has the highest number of government-assisted units for each year

In [ ]:
WITH Ranked_Towns AS (
  SELECT 
    Year,
    Town,
    Government_Assisted,
    ROW_NUMBER() OVER (PARTITION BY Year ORDER BY Government_Assisted DESC) AS Rank
  FROM 
    affordable_housing
)
SELECT 
  Year,
  Town,
  Government_Assisted
FROM 
  Ranked_Towns
WHERE 
  Rank = 1
ORDER BY 
  Year ASC;

# LACK OF AFFORDABLE HOUSING 2

In [ ]:
CREATE EXTERNAL TABLE affordable_housing_2 (
  FY_Obligation_Year INT,
  Lender_Name STRING,
  Borrower_Name STRING,
  Project_Name STRING,
  Main_Address_Line1 STRING,
  City STRING,
  State_Abbreviation STRING,
  Zip_Code STRING,
  Date_Loan_Closing DATE,
  Loan_Amount FLOAT,
  Total_Development_Cost FLOAT,
  Population_Obligation INT,
  Median_Household_Income_Obligation FLOAT,
  Total_1_Bedroom_Units INT,
  Total_2_Bedroom_Units INT,
  Br1_Unit_Average_Contract_Rent FLOAT,
  Br2_Unit_Average_Contract_Rent FLOAT,
  Construction_Type STRING,
  Project_Type STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION '/user/thanmmay_durga/data/Lack-of-Affordable-housing-2/';

From the dataset 2 the highest total loan amount is present for which cities for all housing projects

In [ ]:
SELECT 
  City,
  SUM(Loan_Amount) AS Total_Loan_Amount
FROM 
  affordable_housing_2
GROUP BY 
  City
ORDER BY 
  Total_Loan_Amount DESC
LIMIT 10;

From the dataset 2 based on the construction type what is the average development cost

In [ ]:
SELECT 
  Construction_Type,
  AVG(Total_Development_Cost) AS Avg_Development_Cost
FROM 
  affordable_housing_2
GROUP BY 
  Construction_Type
ORDER BY 
  Avg_Development_Cost DESC;

# LACK OF AFFORDABLE HOUSING 3

In [ ]:
CREATE EXTERNAL TABLE affordable_housing_3 (
  Project_Name STRING,
  Project_Address STRING,
  City STRING,
  State_Abbreviation STRING,
  Zip_Code STRING,
  Project_Description STRING,
  Project_Start_Date DATE,
  Project_Completion_Date DATE,
  Total_Units INT,
  Affordable_Units INT,
  Total_Development_Cost FLOAT,
  Loan_Amount FLOAT,
  Financing_Sources STRING,
  Construction_Type STRING,
  Project_Status STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION '/user/thanmmay_durga/data/Lack-of-Affordable-housing-3/';

In the dataset 3 what are the highest number of assisted units give top 10 (Project Number of Assisted Units)

In [ ]:
SELECT 
  Project_Name,
  Total_Units,
  Affordable_Units AS Assisted_Units
FROM 
  affordable_housing_3
ORDER BY 
  Assisted_Units DESC
LIMIT 10;

In the dataset 3 what are the states that have the highest total number of assisted units

In [ ]:
SELECT 
  State_Abbreviation,
  SUM(Affordable_Units) AS Total_Assisted_Units
FROM 
  affordable_housing_3
GROUP BY 
  State_Abbreviation
ORDER BY 
  Total_Assisted_Units DESC
LIMIT 10;