# LACK OF AFFORDABLE HOUSING 1

Which towns in the dataset 1 have highest percentage of affordable housing units (Percent Affordable)

In [ ]:
SELECT 
  Town,
  MAX(Percent_Affordable) AS Max_Percent_Affordable
FROM 
  affordable_housing
GROUP BY 
  Town
ORDER BY 
  Max_Percent_Affordable DESC
LIMIT 10;

Out of all town in the dataset 1 which town has the highest number of government-assisted units for each year

In [ ]:
WITH Ranked_Towns AS (
  SELECT 
    Year,
    Town,
    Government_Assisted,
    ROW_NUMBER() OVER (PARTITION BY Year ORDER BY Government_Assisted DESC) AS Rank
  FROM 
    affordable_housing
)
SELECT 
  Year,
  Town,
  Government_Assisted
FROM 
  Ranked_Towns
WHERE 
  Rank = 1
ORDER BY 
  Year ASC;

# LACK OF AFFORDABLE HOUSING 2

From the dataset 2 the highest total loan amount is present for which cities for all housing projects

In [ ]:
SELECT 
  City,
  SUM(Loan_Amount) AS Total_Loan_Amount
FROM 
  affordable_housing_2
GROUP BY 
  City
ORDER BY 
  Total_Loan_Amount DESC
LIMIT 10;

From the dataset 2 based on the construction type what is the average development cost

In [ ]:
SELECT 
  Construction_Type,
  AVG(Total_Development_Cost) AS Avg_Development_Cost
FROM 
  affordable_housing_2
GROUP BY 
  Construction_Type
ORDER BY 
  Avg_Development_Cost DESC;

# LACK OF AFFORDABLE HOUSING 3

In the dataset 3 what are the highest number of assisted units give top 10 (Project Number of Assisted Units)

In [ ]:
SELECT 
  Project_Name,
  Affordable_Units AS Assisted_Units
FROM 
  affordable_housing_3
ORDER BY 
  Assisted_Units DESC
LIMIT 10;

In the dataset 3 what are the states that have the highest total number of assisted units

In [ ]:
SELECT 
  state_abbreviation AS State,
  SUM(Affordable_Units) AS Total_Assisted_Units
FROM 
  affordable_housing_3
GROUP BY 
  state_abbreviation
ORDER BY 
  Total_Assisted_Units DESC
LIMIT 10;